@import '../../vars';

.rico-listing {
  border-bottom: 1px solid map_get($rico-brand-indigo, 50);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  &:not(.rico-listing--active ):hover {
    background: rgba(0, 0, 0, .02);
  }
  &:not(.rico-listing--active ):active {
    background: rgba(0, 0, 0, .02);
  }
}

.rico-listing__image {
  width: 160px;
  height: 160px;
  margin: 4px 2px;
  transition: box-shadow .2s ease-in-out;
}

.rico-listing__image-container {
  position: relative;
  overflow: hidden;
  max-height: 168px;
}

.rico-listing__image-details {
  opacity: 0;
  position: absolute;
  left: 2px;
  bottom: 5px;
  width: calc(100% - 4px);
  text-align: right;
  padding: 5px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .8);
  border-top: 1px solid white;
  transition: all .15s ease-in-out;
}

.rico-listing--active {
  .rico-listing__image {
    box-shadow: 0 0 0 3px map_get($rico-brand-indigo, 500);
  }
}

.rico-listing__image-container:not(:hover) {
  .rico-listing__image-details--show {
    opacity: 1;
  }
}

.rico-listing__image-container:hover {
  .rico-listing__image-details--show {
    transition-delay: 0s;
    opacity: .5;
  }
}

.rico-listing__content {
  //padding: 10px;
}

.rico-listing__content-details {
  padding: 10px;
}

.rico-listing__header {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.rico-listing__header--1 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .75);
}

.rico-listing__header--2 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__details {
  text-align: right;
  background: rgba(0, 0, 0, .015);
  padding: 10px;
  min-width: 30%;
}

.rico-listing__price {
  margin-top: 10px;
  color: map_get($rico-brand-orange, 400);
  > span {
    display: inline-block;
    margin-left: 5px;
    color: rgba(0, 0, 0, .8);
    font-size: 24px;
    font-weight: 500;
  }
}

.rico-listing__price--blue {
  color: map_get($rico-brand-indigo, 400);
}

.rico-listing__price--in-photo {
  font-size: 10px;
  > span {
    font-size: 12px;
  }
}
