<a class="rico-listing" fxLayout="row" routerLink="/" routerLinkActive="active" [queryParams]="{productId: 1}">
    <div>
        <img class="rico-listing__image"
             src="//images.ricardostatic.ch/image/upload/t_180x180/v1/product/live/916480374_v0_1"
             alt="iPhone 5C 16 GB, Weiss">
    </div>
    <div class="rico-listing__content" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
        <section fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <h1 class="rico-listing__header">
                Apple iPhone 6 Silver 16GB
            </h1>
            <content class="rico-listing__header--1">
                Weiss-silber ohne Zubehör
            </content>
            <span class="rico-listing__header--2">
                Gebraucht
            </span>
            <div fxFlex></div>
            <footer class="rico-listing__footer">
                Einschreiben , CHF 9.00
            </footer>
        </section>
        <aside class="rico-listing__details" fxLayout="column" fxLayoutAlign="stretch">
            <span class="rico-listing__header--1">
                Noch 10 Std 10 Min
            </span>
            <div fxFlex></div>
            <div class="rico-listing__price">
                16 Gebote <span>249.00</span>
            </div>
            <div class="rico-listing__price rico-listing__price--blue">
                Sofort kaufen <span>449.00</span>
            </div>
        </aside>
    </div>
</a>

