<a class="rico-listing"
   fxLayout="row" routerLink="/"
   routerLinkActive="rico-listing--active"
   [queryParams]="{productId: listingId}">
    <div class="rico-listing__image-container">
        <img class="rico-listing__image mat-elevation-z1"
             [src]="listingDetails.imgSm"
             alt="iPhone 5C 16 GB, Weiss">
        <div class="rico-listing__image-details"
        [ngClass]="{'rico-listing__image-details--show': drawerOpen}">
            <div class="rico-listing__price rico-listing__price--in-photo">
                16 Gebote <span>{{listingDetails.price.auction}}</span>
            </div>
            <div class="rico-listing__price rico-listing__price--blue rico-listing__price--in-photo">
                Sofort kaufen <span>{{listingDetails.price.bunNow}}</span>
            </div>
        </div>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="start stretch">
        <section class="rico-listing__content-details" fxLayout="column" fxLayoutAlign="stretch" fxFlex>
            <h1 class="rico-listing__header">
                {{listingDetails.title}}
            </h1>
            <content class="rico-listing__header--1">
                Weiss-silber ohne Zubehör
            </content>
            <span class="rico-listing__header--2">
                Gebraucht
            </span>
            <div fxFlex></div>
            <footer class="rico-listing__footer">
                Einschreiben , CHF 9.00
            </footer>
        </section>
        <aside class="rico-listing__details" fxLayout="column" fxLayoutAlign="stretch">
            <span class="rico-listing__header--1">
                Noch 10 Std 10 Min
            </span>
            <div fxFlex></div>
            <div class="rico-listing__price">
                16 Gebote <span>{{listingDetails.price.auction}}</span>
            </div>
            <div class="rico-listing__price rico-listing__price--blue">
                Sofort kaufen <span>{{listingDetails.price.bunNow}}</span>
            </div>
        </aside>
    </div>
</a>

