@import '../../vars';

.rico-listing {
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid map_get($rico-brand-indigo, 50);
  cursor: pointer;
  border-left: 5px solid transparent;
  transform: translateX(-5px);
  text-decoration: none;
  color: #000;
  &:hover {
    transition: all .1s ease-in-out .25s;
    transform: translateX(0);
    border-color: map_get($rico-brand-orange, 500);
  }
  &:active {
    transition: all .1s ease-in-out;
    transform: translateX(0);
    border-color: map_get($rico-brand-indigo, 500);
  }
}

.rico-listing__image {
  width: 160px;
  height: 160px;
}

.rico-listing__content {
  padding: 10px;
}

.rico-listing__header {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.rico-listing__header--1 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .75);
}

.rico-listing__header--2 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__details {
  text-align: right;
}

.rico-listing__price {
  margin-top: 10px;
  color: map_get($rico-brand-orange, 400);
  > span {
    display: inline-block;
    margin-left: 5px;
    color: rgba(0, 0, 0, .8);
    font-size: 24px;
    font-weight: 500;
  }
}

.rico-listing__price--blue {
  color: map_get($rico-brand-indigo, 400);
}