@import '../../vars';

.rico-listing {
  border-bottom: 1px solid map_get($rico-brand-indigo, 50);
  cursor: pointer;
  text-decoration: none;
  color: #000;
  &:not(.rico-listing--active ):hover {
    background: rgba(0, 0, 0, .02);
  }
  &:not(.rico-listing--active ):active {
    background: rgba(0, 0, 0, .02);
  }
}

.rico-listing--active {
  background: #fff;
  .rico-listing__image {
    transition: opacity .2s ease-in-out;
    opacity: .5;
  }
}

.rico-listing__image {
  width: 160px;
  height: 160px;
  margin: 10px 0;
}

.rico-listing__content {
  //padding: 10px;
}

.rico-listing__content-details {
  padding: 10px;
}

.rico-listing__header {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 500;
}

.rico-listing__header--1 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .75);
}

.rico-listing__header--2 {
  margin: 0 0 10px 0;
  font-size: 12px;
  font-weight: 300;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__footer {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, .6);
}

.rico-listing__details {
  text-align: right;
  background: rgba(0, 0, 0, .015);
  padding: 10px;
  min-width: 30%;
}

.rico-listing__price {
  margin-top: 10px;
  color: map_get($rico-brand-orange, 400);
  > span {
    display: inline-block;
    margin-left: 5px;
    color: rgba(0, 0, 0, .8);
    font-size: 24px;
    font-weight: 500;
  }
}

.rico-listing__price--blue {
  color: map_get($rico-brand-indigo, 400);
}
