.rico-search-result__wrapper{
  display: block;
  max-height: calc(100vh - 120px);
  overflow: auto;
}
.rico-search-result {
  background: #f9f9f5;
}

.rico-search-result_container {
  transform: translateY(0);
  transition: transform .25s ease-in-out .1s;
}

.rico-search-result_container--drawer-open {
  transform: translateY(-130px);
}
