<div class="main-header--mini" fxLayout="row" fxLayoutAlign="center center">
    <div class="rico-view-width" fxLayout="row" fxLayoutAlign="start center">
        <a md-button href="#">
            <md-icon class="material-icons main-header__icon--small">directions_car</md-icon>
            autoricardo.ch
        </a>
        <div fxFlex>
        </div>
        <a md-button href="#">
            FR
        </a>
        <a md-button href="#">
            Hilfe
        </a>
    </div>
</div>
<md-toolbar class="main-header mat-elevation-z1">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <div class="rico-view-width" fxLayout="row" fxLayoutAlign="start center">
            <img class="main-header__logo" src="//style-6a38.kxcdn.com/1.6.2/lib/images/ric-logo__core.svg"
            [ngClass]="{'main-header__logo--drawer-open': drawerOpen}">
            <div fxFlex></div>
            <a md-button class="main-header__button--large" href="#">
                <md-icon class="material-icons main-header__icon--large ric-color--red">favorite</md-icon>
                Merkliste
            </a>
            <a md-button class="main-header__button--large" href="#">
                <md-icon class="material-icons main-header__button--large main-header__icon--large">person</md-icon>
                Login
            </a>
        </div>
    </div>
</md-toolbar>
