<section>
    <h2 class="rico-collapse__title" fxLayout="row" (click)="toggle()">
        <ng-content select="[collapse-title]"></ng-content>
        <span fxFlex></span>
        <md-icon class="material-icons" *ngIf="!this.open">keyboard_arrow_down</md-icon>
        <md-icon class="material-icons" *ngIf="this.open">keyboard_arrow_up</md-icon>
    </h2>
    <div class="rico-collapse__body" *ngIf="this.open">
        <ng-content select="[collapse-body]">
        </ng-content>
    </div>
</section>
