@import '../../vars';

.rico-collapse__title {
  padding: 0 15px 0 7px;
  margin: 10px 0;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  line-height: 24px;
  .mat-icon {
    color: map_get($rico-brand-indigo, 500)
  }
}

.rico-collapse__body {
  padding: 5px 15px;
}
