@import '../../vars';

.main-search {
  width: 100%;
  max-height: 51px;
  height: 51px;
  margin: 10px 0 20px 0;
  border-bottom: 2px solid map_get($rico-brand-orange, 500);
  transition: opacity .2s ease-in-out;
}

.main-search--hidden {
  opacity: 0;
  pointer-events: none;
}

.main-search__input-container {
  flex: 0 1 100%;
  border-radius: 0 0 15px 15px;
  height: 100%;
  margin-top: -2px;
}

.main-search__input {
  font-size: 25px;
  font-weight: 300;
  width: 100%;
  .mat-input-wrapper {
    margin: 0;
    box-sizing: border-box;
    padding: 0 0 10px;
  }
  .mat-input-underline {
    opacity: 0;
  }
}
