@import '../../vars';

.rico-categories {
  width: 260px;
  flex: 0 0 300px;
  box-sizing: border-box;
  padding: 15px 0 100px;
  @media (max-width: 1200px) {
    display: none;
  }
}

.rico-categories__list {
  padding: 0;
  margin: 0;
  list-style: none;
  @include labelStyle()
}

.rico-categories__list-item {
  padding: 5px;
  a {
    text-decoration: none;
    color: #000;
  }
}

.rico-filter__slider {
  margin: 0 -5px;
}

.rico-counter {
  opacity: .5;
}
