.rico-content-drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100vw - 300px - (100vw - 1200px));
  height: 100vh;
  padding: 15px;
  background: #fff;
  z-index: 1;
  transform: translateX(100%);
  animation-fill-mode: forwards;
}

.rico-content-drawer--open {
  animation: openDrawer .35s ease-in-out .05s forwards;
}

.rico-content-drawer__close {
  margin-right: 10px;
  .material-icons {
    line-height: 38px;
    text-align: center;
  }
}

.rico-content-drawer__header--1 {
  margin: 0 0 30px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  font-weight: 500;
}

@keyframes openDrawer {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}